<div class="container mx-auto text-center">
  <br>
  
  <div><h1>Bienvenue sur The Eventbrite Project !</h1></div>
    <br>

<% if flash[:danger] %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <h3><%= flash[:danger] %></h3>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if current_user %>
<h5> Bonjour <u><%= current_user.first_name %> </u>(normalement le nom s'affiche), tu es bien connecté(e) à ta session !</h5>
<% end %>
<br>
<div><h2>Voici les Events à venir</h2></div>
<br>
</div>

<% @event.sort.each do |event| %>
<div class="card w-50 mx-auto">
  <div class="card-header">
    <%= event.title%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= event.description %></p>
      <footer class="blockquote-footer">> <%= link_to event_path(event) do%>En savoir plus</footer>
    </blockquote>
  </div>
</div>
<br>
    <%end%>
    <% end %>
  </div>
</div>

